@media (max-width: 575.98px) {
  .mobile-navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .navBar-mobile-button {
    height: 32px;
    background: var(--list-item-color);
    border-radius: 4px;
    color: #a7a7a7;
  }
  .activeClass-mobile {
    width: 130px;
    height: 32px;
    border: 1px solid var(--list-item-color);
    color: #ffffff;
    border-radius: 4px;
    background: var(--list-item-color);
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .navBar-mobile-button {
    width: 119px;
    height: 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    background: var(--list-item-color);
    border-radius: 4px;
    color: #a7a7a7;
  }
  .activeClass-mobile {
    width: 119px;
    height: 32px;
    border: 1px solid var(--list-item-color);
    color: #ffffff;
    box-shadow: 0px 4px 10px var(--list-box-shadow);
    border-radius: 4px;
    background: var(--list-item-color);
  }
}

@media (min-width: 992px) {
  .mobile-navbar {
    display: none;
  }
}
