@media (max-width: 575.98px) {
  .forgetPassword-form-control {
    border-top: 0px;
    border-bottom: 1px solid var(--list-item-color);
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
    background: #ffffff;
    color: var(--list-item-color);
  }
  .forgetPassword-form-control::placeholder {
    color: var(--list-item-color);
  }
  .forgetPassword-buttonSend {
    width: 300px;
    height: 48px;
    background: var(--list-item-color);
    color: #ffffff;
    border-radius: 4px;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .forgetPassword-form-control {
    border-top: 0px;
    border-bottom: 1px solid var(--list-item-color);
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
    background: #fbfcff;
    color: var(--list-item-color);
  }
  .forgetPassword-form-control::placeholder {
    color: var(--list-item-color);
  }
  .forgetPassword-buttonSend {
    width: 300px;
    height: 48px;
    background: var(--list-item-color);
    color: #ffffff;
    border-radius: 4px;
  }
}

@media (min-width: 992px) {
  .forgetPassword-form-control {
    padding-left: 20px;
    border-top: 0px;
    border-bottom: 1px solid var(--list-item-color);
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
    background: #fbfcff;
    color: var(--list-item-color);
  }
  .forgetPassword-form-control::placeholder {
    color: var(--list-item-color);
  }
  .forgetPassword-buttonSend {
    width: 300px;
    height: 48px;
    background: var(--list-item-color);
    color: #ffffff;
    border-radius: 4px;
  }
}
