.st-button {
    height: 3rem;
    padding: 0 1.5rem;
    width: 100%;
    font-weight: 500;
    letter-spacing: 0.0125rem;
    font-size: 1rem;
    border-radius: 4px;
    appearance: none;
    text-decoration: none;
    outline: none;
    border: none;
    line-height: 1.2;
    text-align: center;
    background-color: #f9f9f9;
    color: #fff;
    transition: background-color 500ms ease-out 100ms,
        transform 50ms ease-in-out;
    cursor: pointer;
    user-select: none;

    /* Button Types Colors  */
    --primary: #246da2;
    --primary-text: #fff;
    --primary-disabled: #246da255;

    --secondary: #0481fe;
    --secondary-text: #0481fe;
    --secondary-disabled: #b7d4f1;

    --tertiary: #f1f6f9;
    --tertiary-text: #7e919a;
    --tertiary-outlined: var(--grey-2);

    --delete: var(--red);
    --delete-bg: var(--red-1);

    --text: var(--blue);

    --focus-outline: #9ea2b1;
}
/* Primary Button */
.primary {
    background-color: var(--primary) !important;
}
.primary:hover:enabled {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.primary:active:enabled {
    transform: scale(0.97) !important;
}
.primary:focus-visible {
    outline: 2px solid var(--focus-outline) !important;
}
.primary:disabled {
    background-color: var(--primary-disabled) !important;
    cursor: not-allowed !important;
}
.primary.outlined {
    border: 1px solid var(--primary);
    background-color: transparent !important;
    color: var(--primary);
}
.primary.outlined:hover:enabled {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.16));
}
.primary.outlined:active:enabled {
    transform: scale(0.97) !important;
}
.primary.outlined:focus-visible {
    outline: 2px solid var(--focus-outline) !important;
}
.primary.outlined:disabled {
    border: 1px solid var(--primary-disabled);
    color: var(--primary-disabled);
    cursor: not-allowed !important;
}
.primary.outlined .spinner {
    fill: var(--primary);
}
/* Secondary Button */
.secondary {
    background-color: var(--secondary) !important;
}

.secondary:hover:enabled {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.secondary:active:enabled {
    transform: scale(0.97) !important;
}
.secondary:focus-visible {
    outline: 2px solid var(--focus-outline) !important;
}
.secondary:disabled {
    background-color: var(--secondary-disabled) !important;
    cursor: not-allowed !important;
}

.secondary.outlined {
    border: 1px solid var(--secondary);
    background-color: transparent !important;
    color: var(--secondary);
}
.secondary.outlined:hover:enabled {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.16));
}
.secondary.outlined:active:enabled {
    transform: scale(0.97) !important;
}
.secondary.outlined:focus-visible {
    outline: 2px solid var(--focus-outline) !important;
}
.secondary.outlined:disabled {
    border: 1px solid var(--secondary-disabled);
    color: var(--secondary-disabled);
    cursor: not-allowed !important;
}
.secondary.outlined .spinner {
    fill: var(--secondary);
}
/* Tertiary */
.tertiary {
    background-color: var(--tertiary) !important;
    color: var(--tertiary-text);
}
.tertiary:hover:enabled {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.tertiary:active:enabled {
    transform: scale(0.97) !important;
}
.tertiary:focus-visible {
    outline: 2px solid var(--focus-outline) !important;
}
.tertiary:disabled {
    background-color: var(--tertiary) !important;
    color: #b7c3c9;
    cursor: not-allowed !important;
}
.tertiary.outlined {
    border: 1px solid var(--tertiary-outlined);
    background-color: transparent !important;
    color: var(--tertiary-text);
}
.tertiary.outlined:hover:enabled {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.16));
}
.tertiary.outlined:active:enabled {
    transform: scale(0.97) !important;
}
.tertiary.outlined:focus-visible {
    outline: 2px solid var(--focus-outline) !important;
}
.tertiary.outlined:disabled {
    border: 1px solid var(--tertiary);
    color: var(--tertiary-text);
    cursor: not-allowed !important;
}
.tertiary .spinner {
    fill: var(--tertiary-text);
}
.tertiary.outlined .spinner {
    fill: var(--tertiary-text);
}
/* Delete Button */
.delete {
    border: 2px solid var(--delete);
    background-color: var(--delete-bg) !important;
    color: var(--delete);
}
.delete:hover:enabled {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.16));
}
.delete:active:enabled {
    transform: scale(0.97) !important;
}
.delete:focus-visible {
    outline: 2px solid var(--focus-outline) !important;
}
.delete:disabled {
    border: 1px solid var(--secondary-disabled);
    color: var(--secondary-disabled);
    cursor: not-allowed !important;
}

.btn-spinner {
    width: 1rem;
    position: relative;
    font-size: 1.2rem;
    animation: lds-hourglass 1.2s infinite;
    fill: #fff;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.quick_action {
    color: var(--primary);
    background-color: #d8eaf7;
    border: 1px solid #d8eaf7;
    border-radius: 20px;
}
.quick_action:hover:enabled {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.16));
}
.quick_action:active:enabled {
    transform: scale(0.97) !important;
}
.quick_action:focus-visible {
    outline: 2px solid var(--focus-outline) !important;
}
.quick_action:disabled {
    border: 1px solid var(--primary-disabled);
    color: var(--primary-disabled);
    cursor: not-allowed !important;
}
.quick_action .spinner {
    fill: var(--primary);
}
